@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }
h1{
    font-family: Pokemon;
} 
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 80px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 10px;
  font-weight: 400;
}

h1, h2, h3{
    font-family: "Pokemon";
}

.MuiFormControl-root{
    width: 52%;
}

#bg{
    background: url('https://initiate.alphacoders.com/images/273/cropped-1366-768-273289.jpg?4677');
    background-repeat: no-repeat;
    background-size: auto;
}

.card {
  display: inline-block;
  width: 280px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__caption {
  height: 280px;  
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  height: 80px;  
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: -15px 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}

.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
  font-size: 11px;
}
.card__abilities {
  margin-top: 40px;
  font-size: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.card__ability {
  margin-top: 10px;
  -webkit-box-flex: 1;
          flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__type {
  background-color: #C08A53;
}

.card--poison {
    background: linear-gradient(110deg, rgb(239, 78, 253) 0%, rgb(83, 3, 99) 100%);
    box-shadow: 0px 5px 20px -10px #3A1C71;
  }
  .card--poison .card__type {
    background-color: rgb(56, 5, 66);
  }

.card--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card--water .card__type {
  background-color: #1CB5E0;
}

.card--ground {
    background: linear-gradient(120deg, rgb(184, 110, 0) 0%, #963c08 100%);
    box-shadow: 0px 5px 20px -10px #000851;
  }
  .card--ground .card__type {
    background-color: rgb(104, 77, 46);
  }
  

  .card--bug{
    background: linear-gradient(120deg, rgb(23, 255, 2) 0%, #960496 100%);
    box-shadow: 0px 5px 20px -10px #000851;
  }
  .card--bug .card__type {
    background-color: rgb(63, 114, 72);
  }
  

  .card--ghost{
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, #362e36 100%);
    box-shadow: 0px 5px 20px -10px #000851;
  }
  .card--ghost .card__type {
    background-color: rgb(119, 119, 119);
  }
  

.card--fighting {
    background: linear-gradient(120deg, rgb(255, 137, 1) 0%, #bd1919 100%);
    box-shadow: 0px 5px 20px -10px #000851;
  }
  .card--fighting .card__type {
    background-color: rgb(139, 71, 71);
  }


.card--flying {
    background: linear-gradient(120deg, #1CB5E0 0%, #fafafa 100%);
    box-shadow: 0px 5px 20px -10px #808080;
  }
.card--flying .card__type {
    background-color: rgb(100, 135, 145);
  }

.card--electric {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card--electric .card__type {
  background-color: #000;
}
.card--fire {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #c71800), to(#fcc245));
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}
.card--fire .card__type {
  background-color: #c71800;
}
.card--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
.card--psychic .card__type {
  background: #ff2cc3;
}
.card--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card--dark .card__type {
  background: #5c0249;
}
.card--grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}
.card--grass .card__type {
  background: #6e7f0e;
}
.card--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card--ice .card__type {
  background: #6fb8eb;
}
.card--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card--fairy .card__type {
  background: #ff8a95;
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
